@media screen and (min-width: 990px) {
    #nav-menu, #nav-xmark  {
        display: none;
    }

    nav {
        padding: unset;
    }

    .nav-container {
        max-width: 1078px;
        margin: 0 auto;
    }

    .nav-container h1 {
        font-size: 1.8rem;
    }
    .nav-links {
        position: unset;
        height: unset;
        background-color: unset;
        color: unset;
        width: unset;
        font-size: unset;
        display: flex;
        gap: 2em;
        padding: .5em 0;
    }

    .nav-links ul li {
        padding: 0.6em 1em;
    }

    .nav-links > li:last-child{
        display: none;
    }

    .hero-menu {
        display: block;
        padding: .6em 2em;
        background-color: rgb(255, 80, 80);
        color: white !important;
    }

    .hero-menu:hover {
        background-color: transparent;
        outline: 2px solid rgb(255, 80, 80);
        color: red !important;
    }
    .hero-img {
        height: 100vh;
    }

    .hero-text h1 {
        font-size: 3.7rem;
    }

    .hero-text p {
        font-size: 1.1rem;
    }
    .form-container {
        flex: 1.5;
    }

    .Hero-btn {
        padding: .6em 2em;
        font-size: 1.1rem;
    }

    .reservation{
        position: relative;
        padding-right: 3em;
    }

    .reservation .fa-arrow-right {
        position: absolute;
        bottom: 17px;
        right: 33px;
        transition: right 300ms ease;
    }

    .reservation:hover .fa-arrow-right {
        right: 20px;
    }
    .field-box {
        flex: 1;
        min-width: 121px;
    }

    .specialty-items {
        flex-direction: row;
    }
}
