* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

:root {
  --primary_color: red;
  --secondary_color: white;
  --ascent_color: rgb(62, 62, 62);
}

body {
  overflow-x: hidden;
}
/* Header Styling */
.nav-container a {
  text-decoration: none;
  color: unset;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.4em;
  z-index: 99999999;
  background-color: white;
}
nav.scrolled {
  background-color: #000;
  color: white;
  transition: background 0.3s ease;
}
.nav-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  margin: 0 0.8em;
}

.nav-links {
  position: absolute;
  font-size: small;
  background-color: white;
  color: black;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100vh;
  padding: 1em;
  transition: left 0.3s ease;
}

#nav-xmark {
  cursor: pointer;
}

#nav-xmark:hover {
  color: red;
}

.nav-container ul li {
  padding: 0.6em;
}

.nav-links li {
  position: relative;
  width: fit-content;
}
.nav-links li::before{
  content: "";
  display: block;
  position: absolute;
  top: 33px;
  left: 8px;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 500ms ease;
  opacity: 0;
}
.nav-links li:hover {
  color: red;
}
.nav-links li:hover::before{
  width: 92%;
  opacity: 1; 
}

.hero-menu {
  display: none;
}

nav i:hover {
  cursor: pointer;
}

.fa-xmark {
  position: relative;
  left: 92%;
  top: -1%;
  margin: 0.8em 0;
}

.img-container {
  position: relative;
  object-fit: contain;
  margin-top: 3em;
  background: #000;
}

.hero-img {
  position: relative;
  width: 100%;
  min-height: 50vh;
  object-fit: cover;
  overflow: hidden;
  opacity: 0.4;
}

.hero-text {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 70%;
}

.hero-text h1 {
  font-family: var(--heading_font);
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.hero-text p {
  font-size: .8rem;
  line-height: 22px;
  margin-bottom: 2em;
}

.Hero-btn {
  padding: 5px 20px;
  text-decoration: none;
  font-size: .8rem;
  border-radius: 20px;
}

.menu {
  background-color: #ff6666;
  color: #ffffff;
  margin-right: 5px;
}

.reservation {
  border: 1px solid rgb(62, 62, 62);
  color: #ffffff;
}

.reservation:hover {
  background-color: #282828;
}

.fa-arrow-right {
  font-size: small;
}

/* Body About us Sections  */
.wrapper {
  padding: 0 2em;
}

.small-heading {
  font-size: 300;
  margin-bottom: 0.3em;
}

h2, h3 {  
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.2em;
}

.content-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;

}

.content-info p {
  font-size: 14px;
  margin: 1em 0;
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
}

.content-image {
  flex: 1;
  object-fit: cover;
  height: fit-content;
}

.section-img {
  width: 100%;
  min-width: 300px;
  opacity: 0.9;
}

.section {
  min-width: 300px;
  padding-top: 6em ;
}

.content-info > div {
  flex: 1;
  min-width: 300px;
}

/* speciality section */

main {
  max-width: 1078px;
  margin: 0 auto;
}

.heading-center {
  text-align: center;
  margin-bottom: 1em;
  font-weight: 600;
}
.specialty-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

.specialty-item-fastFood {
  position: relative;
  width: 100%;
  max-width: 425px;
  max-height: 245px;
}

.specialty-item-fastFood::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
}

.specialty-item-italian {
  position: relative;
  width: 100%;
  max-width: 425px;
  max-height: 245px;
}

.specialty-item-italian::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
}

.specialty-item-chinese {
  position: relative;
  width: 100%;
  max-width: 425px;
  max-height: 245px;
}

.specialty-item-chinese::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
}

.specialty-item-img {
  position: relative;
  width: 100%;
  max-height: 245px;
  max-width: 425px;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

.specialty-item-img:hover {
  opacity: 0.5 !important;
}

.speciality-item-text-fastFood {
  position: absolute;
  display: none;
  font-weight: bolder;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.2rem;
}

.specialty-item-img:hover + .speciality-item-text-fastFood {
  display: block;
}

.speciality-item-text-chinese {
  position: absolute;
  display: none;
  font-weight: bolder;
  top: 36%;
  left: 25%;
  color: white;
  font-size: 1.2rem;
}

.specialty-item-img:hover + .speciality-item-text-chinese {
  display: block;
}

.speciality-item-text-italian {
  position: absolute;
  display: none;
  font-weight: bolder;
  top: 39%;
  left: 36%;
  color: white;
  font-size: 1.2rem;
}

.specialty-item-img:hover + .speciality-item-text-italian {
  display: block;
}

.primary-btn {
  padding: 4px 13px;
  font-family: var(--paragraph_font);
  text-decoration: none;
  border-radius: 20px;
  background-color: #ff6666;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.primary-btn-hover:hover {
  background-color: transparent;
  outline: 2px solid rgb(255, 80, 80);
  color: red !important;
  transition: all .3s ease-in;
}
.learn-more {
  font-size: .8rem;
  font-weight: 400;
}

.speciality-item-text-chinese .learn-more {
  top: 106%;
  position: absolute;
  left: 21%;
}

.speciality-item-text-italian .learn-more {
  top: 106%;
  position: absolute;
  left: 5%;
}

/* Food Menu Cards */
.food-cards-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 269px;
  gap: 1.5em;
}

.food-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 300px;
  flex: 1;
  box-shadow: 0px 5px 10px rgba(185, 185, 185, 0.6);
  border-radius: 20px;
}

.card-image-container {
  aspect-ratio: 16/9;
  overflow: hidden;
}

.card-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-info {
  padding: 1em;
}

.card-info h4 {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 8px 0;
}

.card-info a {
  text-decoration: none;
  font-family: var(--heading_font);
}

.card-info p {
  margin: 8px 0;
}

.food-manu-load-more {
  display: flex;
  justify-content: center;
  margin: 26px 0;
}

.food-manu-load-more button {
  border: none;
  width: 120px;
  line-height: 28px;
}

/* GAllery Section */
.gallery h2 {
  margin-bottom: .5em;
} 

.section-gallery {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  min-width: 300px;
  padding-bottom: 3em;
}

.gallery-image-container {
  min-width: 300px;
  flex: 1.5em;
}

.gallery-img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

/* Testmonials Section */
.section-testmonials {
  padding-top: 3em;
}

.testmonials-container {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 100%;
  height: 500px;
  gap: 1em;
  overflow: hidden;
}

.testmonial-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  margin-top: 4em;
  max-width: 513px;
  box-shadow: 0px 5px 10px rgba(185, 185, 185, 0.6);
  border-radius: 30px;
  padding-top: 4em;
  transition: 250ms;
}

.testmonial-img-container img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 77%;
  transform: translateX(-50%);
}

.feedback-box {
  text-align: center;
  padding: 0.8em;
}

.feedback-box p {
  margin: 1em 0;
  font-size: 0.9rem;
}

.feedback-box h6 {
  display: inline;
  margin: 0 2em;
  font-size: 1rem;
}

.feedback-quotes {
  color: #ff6666;
  font-size: 1.5rem;
  opacity: 0.5;
}

.crousel-arrow {
  box-shadow: 0px 5px 10px rgba(185, 185, 185, 0.6);
  border-radius: 30px;
  padding: 0.7em;
  background-color: white;
}

.crousel-left {
  position: absolute;
  top: 58%;
  right: 93%;
  font-size: small;
}

.crousel-right {
  position: absolute;
  top: 58%;
  left: 93%;
  font-size: small;
}

/* Contact Us Section */
.contact-us-container {
  display: flex;
  flex-direction: column;
  gap: 3em;
  box-shadow: 0px 5px 15px #e3e3e3;
  border-radius: 5px;
  max-width: 400px;
  margin: 2em auto;
}

.timing-container {
  background-color: rgb(255, 80, 80);
  color: white;
  min-width: 300px;
  padding: 2em;
  font-size: 1rem;
  overflow: hidden;
  flex: 1;
}

.timings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
}

.timings span {
  opacity: 0.8;
}

.timings ul {
  margin: .5em 0;
}

.timing-sunday span:last-child a{
  text-decoration: none;
  color: rgb(81, 81, 81);
  font-weight: bold;
}

.timing-sunday span:last-child a::after{
  content: "";
  display: block;
  width: 175px;
  height: 2px;
  background-color: #f4f4f4;
  margin: 0 auto;
  position: relative;
  top: 7px;
}

.contact-us-container h3 {
  margin-bottom: 2em;
}

.contact-img-container {
  display: none;
}

.form-container {
  min-width: 300px;
  padding: 0 2em;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--paragraph_font);
  font-size: .8rem;
  margin-bottom: 20px;
}

.field-box {
  position: relative;
  margin-bottom: 3em;
  border-bottom: 2px solid #adadad;
  transition: border-color 1s ease-in-out;
}

.field-box label {
  position: absolute;
  bottom: 5px;
  transition: 0.3s ease-in-out;
}

.input-field {
  all: unset;
  width: 100%;
  padding: 0 1em;
  height: 20px;
}

.field-box:focus-within {
  border-bottom: 2px solid rgb(255, 79, 79);
}

.field-box:focus-within label {
  transition: 0.3s ease-in-out;
  bottom: 30px;
}

.btn-container button{
  border: none;
  line-height: 25px;
  margin-bottom: 1em;
  width: 100%;
}

/* Footer Styling */

.footer {
  background-color: var(--ascent_color);
  color: white;
}

.footer .ft-wrapper {
  display: flex;
  gap: 2em;
  padding: 2em;
  flex-wrap: wrap;
}
.ft-address{
  width: 100%;
}

.ft-opening-hours ul{
  font-size: 0.8rem;
}

.doublecol{
  display: flex;
  justify-content: flex-start;
  gap: 2em;
  flex: 1;
}

.footer .ft-wrapper h6 {
  margin-bottom: 0.5em;
  font-size: 1rem;
}

.footer .ft-wrapper .column address {
  display: block;
  font-size: 0.9rem;
}

.footer .ft-wrapper .column article {
  font-size: 0.8rem;
}

.footer .ft-wrapper .column article ul li {
  list-style: none;
}

.footer .ft-wrapper .column article ul li a {
  text-decoration: none;
  color: white;
}

.newsletter-field {
  width: 83%;
  padding: 0.3em;
}

.newsletter-link {
  background-color: #ff4343;
  padding: 0.2em 0.5em;
}

.fa-play {
  color: white;
}

.socials {
  display: flex;
  gap: 2em;
  margin: 1em;
  justify-content: center;
}

.socials li {
  padding: 0.5em;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 30px;
}

.socials li:hover {
  background-color: rgb(255, 75, 75);
}
