* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--paragraph_font);
}

:root {
    --heading_font: 'Libre Baskerville', serif;
    --paragraph_font: 'Open Sans', sans-serif;
    --primary_color: red;
    --secondary_color: white;
    --ascent_color: black;
}

/* Header Styling */
.nav-container a {
    text-decoration: none;

}

ul li {
    list-style: none;

}

ul li a {
    text-decoration: none;

}

nav {
    width: 100%;
    padding: 0.4em;
    position: sticky;
    top: 0;
    z-index: 99999999;


}

nav h1 a {
    font-family: var(--heading_font);

}

.nav-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin: 0 0.8em;

}

.nav-container ul li {
    padding: 0.6em;
}

.nav-container ul li a:hover {
    transition: 0.2s ease-in-out;
    color: red;
}

.nav-links {
    position: absolute;
    display: none;
    background-color: white;
    font-size: small;
    font-family: var(--paragraph_font);
    top: -7px;
    left: -19px;
    width: 60%;
    height: 100vh;
    padding: 1em;

}



.hero-menu {
    display: none;

}

nav i:hover {
    cursor: pointer;
}

.fa-xmark {
    position: relative;
    left: 92%;
    top: -1%;
    margin: 0.8em 0;
}

.img-container {
    position: relative;
    object-fit: contain;
    background: #000;
}

.hero-img {
    position: relative;
    width: 100%;
    min-height: 50vh;
    object-fit: cover;
    overflow: hidden;
    opacity: 0.4;
}

.hero-text {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
}

.hero-text h1 {
    font-family: var(--heading_font);
    font-size: x-large;
    margin-bottom: 0.5em;
}

.hero-text p {
    font-size: small;
    margin-bottom: 2em;
}

.Hero-btn {
    padding: 5px 20px;
    font-family: var(--paragraph_font);
    text-decoration: none;
    font-size: small;
    border-radius: 20px;
}

.menu {
    background-color: #FF6666;
    color: #FFFFFF;
    margin-right: 5px;
}

.menu:hover {
    background-color: rgb(255, 80, 80);
}

.reservation {
    border: 1px solid rgb(62, 62, 62);
    color: #FFFFFF;
}

.reservation:hover {
    background-color: #282828;
}

.fa-arrow-right {
    font-size: small;
}

/* Body About us Sections  */
.wrapper {
    padding: 0 2em;
}

.small-heading {
    font-size: small;
    margin-top: 3em;
    margin-bottom: 0.3em;
}

h2 {
    font-family: var(--heading_font);
    margin-bottom: 0.5em;
}

.content-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5em;
}

.content-info p {
    font-size: 14px;
    margin-bottom: 1em;
    text-align: justify;
}

.content-image {
    flex: 1;
    object-fit: cover;

}

.section-img {
    width: 100%;
    min-width: 300px;
    opacity: 0.9;
}

.section {
    flex: 1;
    min-width: 300px;

}

.content-info>div {
    flex: 1;
    min-width: 300px;
}

/* speciality section */

main {
    max-width: 1078px;
    margin: 0 auto;
}

h3 {
    font-family: var(--heading_font);
    text-align: center;
    margin-bottom: 1em;
}

.section-specialty {
    padding: 2em 0;

}

.specialty-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;

}

.specialty-item-fastFood {
    position: relative;
    background-color: #000;
    opacity: 0.9;
    width: 100%;
    max-width: 425px;
    max-height: 245px;
}

.specialty-item-italian {
    position: relative;
    background-color: #000;
    opacity: 0.9;
    width: 100%;
    max-width: 425px;
    max-height: 245px;
}

.specialty-item-chinese {
    position: relative;
    background-color: #000;
    opacity: 0.9;
    width: 100%;
    max-width: 425px;
    max-height: 245px;
}

.specialty-item-img {
    width: 100%;
    max-height: 245px;
    max-width: 425px;
    transition: all 0.3s ease-in-out;

}

.specialty-item-img:hover {
    opacity: .4;

}

.speciality-item-text-fastFood {
    position: absolute;
    display: none;
    font-weight: bolder;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 99;

}

.specialty-item-img:hover+.speciality-item-text-fastFood {
    display: block;
}

.speciality-item-text-chinese {
    position: absolute;
    display: none;
    font-weight: bolder;
    top: 43%;
    left: 33%;
    color: white;
}

.specialty-item-img:hover+.speciality-item-text-chinese {
    display: block;
}

.speciality-item-text-italian {
    position: absolute;
    display: none;
    font-weight: bolder;
    top: 47%;
    left: 39%;
    color: white;
}

.specialty-item-img:hover+.speciality-item-text-italian {
    display: block;
}

.primary-btn {
    padding: 4px 13px;
    font-family: var(--paragraph_font);
    text-decoration: none;
    border-radius: 20px;
    background-color: #FF6666;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.learn-more {

    font-size: x-small;
}

.speciality-item-text-chinese .learn-more {
    top: 106%;
    position: absolute;
    left: 21%;
}

.speciality-item-text-italian .learn-more {
    top: 106%;
    position: absolute;
    left: 5%;
}

/* Food Menu Cards */

.section-food-menu h2 {
    text-align: center;
    margin-bottom: 1em;
}

.food-cards-container {
    display: flex;
    flex-wrap: wrap;
    min-width: 269px;
    gap: 1.5em;
}

.food-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    flex: 1;
    box-shadow: 0px 5px 10px rgba(185, 185, 185, 0.6);
    border-radius: 20px;
}

.card-image-container {
    aspect-ratio: 16/9;
    overflow: hidden;
}

.card-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-info {
    padding: 1em;
}

.card-info h4 {
    display: flex;
    justify-content: space-between;
    font-size: large;
    margin: 8px 0;
}

.card-info a {
    text-decoration: none;
    font-family: var(--heading_font);
}

.card-info p {
    margin: 8px 0;
}

.food-manu-load-more {
    display: flex;
    justify-content: center;
    margin: 26px 0;
}

.food-manu-load-more button {
    border: none;
    width: 120px;
    line-height: 28px;

}

/* GAllery Section */

.section-gallery {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    min-width: 300px;
}

.gallery-image-container {
    min-width: 300px;
    flex: 1.5em;

}

.gallery-img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
}

/* Testmonials Section */

.section-testmonials h3 {
    margin-top: 1em;
}
.testmonials-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
    position: relative;
    align-items: center;
    width: 100%;
    height: 500px;
    gap: 1em;
    overflow: hidden;
}

.testmonial-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin-top: 4em;
    max-width: 513px;
    box-shadow: 0px 5px 10px rgba(185, 185, 185, 0.6);
    border-radius: 30px;
    padding-top: 4em;
    transition: 250ms;
}

.testmonial-img-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 77%;
    transform: translateX(-50%);
}

.feedback-box {
    text-align: center;
    padding: .8em;
}

.feedback-box p {
    margin: 1em 0;
    font-size: .9rem;

}

.feedback-box h6 {
    display: inline;
    margin: 0 2em;
    font-size: 1rem;
}

.feedback-quotes {
    color: #FF6666;
    font-size: 1.5rem;
    opacity: .5;
}

.crousel-arrow {
    box-shadow: 0px 5px 10px rgba(185, 185, 185, 0.6);
    border-radius: 30px;
    padding: .7em;
    background-color: white;
}

.crousel-left {
    position: absolute;
    top: 58%;
    right: 93%;
    font-size: small;
}

.crousel-right {
    position: absolute;
    top: 58%;
    left: 93%;
    font-size: small;
}